@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-neutral-light text-neutral-dark font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
  *:focus-visible {
    @apply outline-none ring-2 ring-brand-accent ring-offset-2 ring-offset-neutral-light;
  }
}

@keyframes shine {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

@layer utilities {
  .animate-shine {
    animation: shine var(--duration) infinite linear;
  }
}